<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}} | {{title}}</title>
    <meta name="copyright" content="Copyright (c) 2001-{{site.year}} Dane Petersen">
    <meta name="ICBM" content="37.70, -122.05">
    <meta name="description" content="Dane Petersen is a coder, designer and sketcher. He builds software for jet engines at GE in California.">
    <meta name="keywords" content="dane petersen, thegreatsunra, brainside out, ux, designer, interaction, portfolio, developer, minnesota, oregon, indiana, bay area, san francisco">
    <meta name="author" content="{{site.author}}">
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/{{site.cssFolder}}/{{site.cssMainFile}}.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <header class="c-header">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item">
        <h1 class="c-site-headline">
          <a href="/" class="c-site-headline__link">
            Dane Petersen is thegreatsunra<span class="u-is-hidden u-is-visibleinline@md">, a rock&rsquo;em sock&rsquo;em designer/developer</span>.
          </a>
        </h1>
        <nav class="c-nav">
          <ul class="c-nav__list">
            <li class="c-nav__item">
              <a class="c-nav__link{{#if homeIsActive}} u-is-active{{/if}}" href="/">Home</a>
            </li>
            <li class="c-nav__item">
              <a class="c-nav__link{{#if portfolioIsActive}} u-is-active{{/if}}" href="/portfolio">Portfolio</a>
            </li>
            <li class="c-nav__item">
              <a class="c-nav__link{{#if resumeIsActive}} u-is-active{{/if}}" href="/resume.html">R&eacute;sum&eacute;</a>
            </li>
            <li class="c-nav__item">
              <a class="c-nav__link{{#if contactIsActive}} u-is-active{{/if}}" href="/contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="c-content">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item">
        {{{contents}}}
      </div>
    </div>
  </div>

  <footer class="c-footer">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item u-8/12@md">
        <ul class="c-social">
          <li class="c-social__item">
            <a href="https://www.linkedin.com/in/danepetersen">
              <img data-type="linkedin" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
          <li class="c-social__item">
            <a href="https://github.com/thegreatsunra">
              <img data-type="github" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
          <li class="c-social__item">
            <a href="https://twitter.com/thegreatsunra">
              <img data-type="twitter" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
          <li class="c-social__item">
            <a href="https://instagram.com/thegreatsunra/">
              <img data-type="instagram" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
          <li class="c-social__item">
            <a href="https://vimeo.com/thegreatsunra">
              <img data-type="vimeo" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
          <li class="c-social__item">
            <a href="https://www.flickr.com/photos/thegreatsunra">
              <img data-type="flickr" data-src="/images/social.svg" class="iconic" alt="social">
            </a>
          </li>
        </ul>
      </div>
      <div class="o-layout__item u-4/12@md">
        <div class="c-copyright">
          &copy; 2001 &mdash; {{site.year}} {{site.author}}. <a href="/colophon.html">Colophon.</a>
        </div>
      </div>
    </div>
  </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="/{{site.jsFolder}}/iconic.min.js"></script>
    <!-- endbuild -->
  </body>
</html>
